body {
background-color: #febab9;
}
@font-face {
font-family:'lari';
src: url(content/better_together_script/Better\ Together\ Script.ttf);
}
h1 {
font-family: 'lari';
font-size: 60px;
text-align: center;
color: #ffe4e4;
  text-shadow: 2px 2px 4px black;                                                                                                                                   ''
}
.content {
position: absolute;
top: -60px;
}

.Brownie1{
  font-family: lari;
  font-size:26px;
  text-align: right;
  color: #653318;
  text-shadow: 2px 2px 4px black; 
}

