* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FADADD;
    color: #5C4033;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #8B4513;
    color: #fff;
}

header h1 {
    font-size: 2.5rem;
    font-family: 'Brush Script MT', cursive;
}

main {
