body {
background-color: #febab9;
}
@font-face {
font-family:'lari';
src: url(content/better_together_script/Better\ Together\ Script.ttf);
}
header {
font-family: 'lari';
font-size: 100px;
text-align: center;

color: #ffe4e4;
  text-shadow: 2px 2px 4px black;                                                                                                                                   ''
}


.Brownie1{
  font-family:lari;
  font-size:50px;
  text-align: right;
  position: relative;
  bottom:600px;
  color: #653318;
}

.preço1{
text-align: right;
position: relative;
bottom:590px ;
font-size:70px;
color: #ffe4e4;
font-family: lari;
text-shadow: 2px 2px 4px black;

}

